.swiper {
	background-color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.swiper-slide {
	background: none !important;
}

.swiper-slide img {
	display: block;
	object-fit: cover !important;
	aspect-ratio: 1.1;
}
