# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Local development settings
local_settings.py

# Database
db.sqlite3
db.sqlite3-journal

# Media files (uploads)
media/

# Static files (usually handled by collectstatic)
staticfiles/
static/

# Virtual environment
venv/

# Environments
.env
.venv
env/
myenv/
myenv
.myenv/
.myenv
ENV/
env.bak/
venv.bak/
