.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tag {
    color: #615F63;
}

.inputField {
    height: 3.5rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background: #F2F2F2;
    line-height: 24px;
}

.inputField:focus {
    outline: none;
    border: 1px solid #7A7A7A;
    outline: none;
    transition: all 2s;
}