.section_form {
	margin: 0 1rem;
}
.div_iconSuccesPassword {
	display: flex;
	height: 40px;
	align-items: center;
	opacity: 60%;
}
.form_password {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	
}
/* Testeo de funcionamiento componente material ui */
.formstyles:focus {
	color: rgb(72, 183, 13);
	background-color: #54c032;
	
}
.div_button_password_styles_nice{
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background-color: rgb(72, 183, 13);
}
.div_button_password_styles_none{
	height: 10px;
	width: 10px;
	border-radius: 100%;
	background-color: rgba(73, 183, 13, 0);
	
}
.div__button_password{
	padding:0 5px;
	display: flex;
	flex-direction: column;
}
.section_title{
	height: 19vh;
	display: grid;
	place-content: center;
	background-color: #163E32;
	width: 100%;
}
.section_div_title{
	position: relative;
	top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}
.section_div_title>*{
	width: 70vw;
}
.section_title_b{
	display: flex;
	font-size: 2.5rem;
	justify-content: flex-start;
	color: white;
}

.div_title_p{
	min-width: 400px;
	color: #959595;
	font-size: 1rem;
}